@import url(https://fonts.googleapis.com/css?family=Play);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

:root {
  --primaryColor: #607D8B;
  --textColor: #212121;
  --darkPrimaryColor:#263238;
  --accentColor: #00E5FF;
  --primaryAccentColor: #FF5722;
  --fontSize: 16px;
  --fontAccent: 'Poiret One', cursive;
  --fontNormal: 'Play', sans-serif;
  --backgroundColor: #1A237E;
  --cardColor: #006064;
}
@custom-selector :--h h1, h2, h3, h4, h5;


body {
  color: var(--textColor);
  font-size: var(--fontSize);
  margin:0;
  padding:0;
  font-family: var(--fontNormal);
}

a {
  color: var(--primaryColor);
  text-decoration: underline;

  &:hover{
    color: var(--accentColor);
    text-decoration: none;
  }
}

.blur {
  filter: grayscale(50%) blur(4px);
}

.grayscale {
  filter: grayscale(10%);
}

#mainBanner {
  background-size: cover;
  position: fixed 0;
  size: 100%;
  z-index: 1;

video {
  position: fixed;
  size:100% auto;
}

  .banners {
    display: none;
    position: absolute 0 auto auto 0;
  }

  img {
    size: auto 100%;
    z-index: 0;
  }

    h1 {
      position: fixed 100px 100px auto auto;
      z-index: 3;
      text: var(--primaryAccentColor) right uppercase;
    }

    p {
      z-index: 3;
      position: fixed 150px 100px auto auto;
      text: #fff right 20px;
      size:800px auto;
    }
}

#navigationPanel {
  z-index: 10;
  position: fixed 0 0;
  size: 100% 40px;
  background: #ffffff00;

  &.scroll {
    background:#ffffffbb;

    a{
      color:  var(--primaryColor);
    }
  }

  .menuItem {
    position: relative;
    display: inline-block;
    margin-top: 10px;

    .submenu {
      position: absolute 17px auto auto 0px;
      display: none;


      a {
        size: auto;
        display: block;
        color: var(--primaryAccentColor);

        &:hover{
          color: var(--accentColor);
        }

        &:after{
          content: '';
        }
      }
    }

  }

  a {
    padding: 5px 10px;
    margin: 5px 0px 5px 5px;
    text:  var(--primaryAccentColor) 15px uppercase none bold;
    text-decoration: none;
    text-transform: uppercase;


    &:not(.last):after{
      content: '⬤';
      size: 10px;
      margin-left: 20px;
      color: var(--primaryAccentColor) !important;
    }

  }

  a:hover {
    color: var(--accentColor);
  }
}

#showSigninPanel {
  position: fixed 4px 16px auto auto;
  z-index: 10;
  color: var(--darkPrimaryColor) var(--primaryAccentColor);
  size:35px;
  text-align: center;
  border-radius: 18px;
  cursor: pointer;

  &.scroll {
    color: var(--primaryColor) #ffffff00;
  }

  i {
    font-size: 32px;

    &.active {
      color: var(--primaryColor);
      }
    }
  }

#userNamePanel {
  position: fixed -8px 16px auto auto;
  z-index: 10;
  color: var(--primaryAccentColor);
  cursor: pointer;
  display:inline-block;

  &.scroll {
    color: var(--darkPrimaryColor) #ffffff00;
  }

  i {
    font-size: 32px;
  }

  &:hover{
    color: var(--primaryAccentColor);
  }
}

#signinPanel {
  position: fixed 39px 0px auto auto;
  z-index: 11;
  color: var(--textColor) #fff;
  box-shadow: 2px 2px 5px #000;
  size: 400px 400px;
  display: none;

  div {
    padding: 16px;

    :--h {
      text: center uppercase;
      display: inline-block;

      &.accountMode {
        color: var(--accentColor);
        cursor: pointer;
      }
    }
  }

  #registration, #enter {
    display: none;
  }
}

#signinWindow {
  position: absolute 50% auto auto 50%;
  z-index: 1;
  color: var(--textColor) #fff;
  box-shadow: 2px 2px 5px #000;
  size: 400px 400px;
  margin: -200px 0 0 -200px;
  display: block;

  div {
    padding: 16px;

    :--h {
      text: center uppercase;
      display: inline-block;

      &.accountMode {
        color: var(--accentColor);
        cursor: pointer;
      }
    }
  }

  #enter {
    display: none;
  }
}

#mainContent {
  position: relative;
  z-index: 2;
  size: 90% auto;
  background: #fff;
  margin: 60% 0 0 3%;
  padding: 25px;
  display: block;
  box-shadow: -8px -8px 15px #000;

   .rollM {
    padding: 10px;
    margin: 10px;
    border: 1px solid #90A4AE;

    &:hover{
      border: 1px solid var(--primaryAccentColor);
      box-shadow: 2px 2px 5px #000;
    }
  }

  img {
    size: auto 150px
  }

}

#logo {
  position: absolute 50% auto auto 50%;
  margin: -250px auto auto -250px;
  size: 500px auto;
  z-index: 1;

  img {
    size: 100% auto;
  }

  p {
    background: rgba(0, 0, 0, 0.9) ;
    size: 100% auto;
    font-family: var(--fontAccent);
    font-weight: bold;
    text: var(--primaryAccentColor) center uppercase 12px 1.5 0.8em ;
  }
}

.userinf {
  display: none;
}

.myCard {
  position: relative;
  float: left;
  size: 20% 100px;
  padding: 2%;
  color: #fff var(--cardColor);
  margin: 1%;

  h3 {
    margin:0px 0px 5px 0px;
  }

  i {
    position: absolute auto 5px 5px auto;
    cursor: pointer;
  }

span {
  position: absolute auto auto 5px 5px;
  text-decoration: underline;
  cursor: pointer;
}

  &:hover {
    background: var(--primaryAccentColor);
  }

  &21 {
    size: 40% 100px;

    * {
      position: relative;
      float: left;
    }
  }

  a {
    color: var(--darkPrimaryColor);
    text-decoration: none;

    &:hover {

    }
  }
}

#personal {
  background: linear-gradient(to right, rgba(96,125,139,1) 0%,rgba(176,190,197,1) 55%,rgba(96,125,139,1) 97%);

  #personalNav {
    size: 20% auto;
    display: inline-block;

    .pNavActive {
      color: var(--accentColor) var(--darkPrimaryColor) !important;
      font-family: var(--fontAccent);
    }

    .pNavItem {
      size: 98% auto;
      padding: 10px;
      text: var(--textColor) left none 20px;

      &:hover{
        color: #fff var(--primaryAccentColor);
        font-family: var(--fontAccent);
        font-size: 20px;
      }
    }
  }

  #personalContent {
    size: 75% auto;
    display: inline-block;
    margin-left: 4%;
  }
}

.adminNav {
  position: relative;
  display: block;
  size: auto 108px;

  div {
    position: relative;
    float: left;
    text-align: center;
    cursor: pointer;
    margin: 8px;

      p {
        margin: 0px;
      }
  }

  button {

    size: 40px;
    text-align: center;
    font-size: 32px;
    border-radius: 20px;
    padding: 0;
    margin: 16px;
    color: #fff;
  }
}

.adminBlock, .block {
  display: none;
}

table {
  size: 100% auto;
  text-align: center;

  th {
    text-align: left;
    padding-left: 10px;
  }

  tbody {
    tr:hover {
      color: var(--primaryColor) var(--accentColor);
    }

    i {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  thead {
    color: #fff var(--darkPrimaryColor);
  }
}

/*Элементы формы*/

input {
  padding: 3px 5px;
  border: none none solid 2px var(--darkPrimaryColor) none;
  size: 95% 100%;
  background: #ffffff00;
  text: var(--darkPrimaryColor) left none 20px 1em 0.1em;
  margin-bottom: 15px;

  &:focus{
    border: none none solid 1px var(--primaryAccentColor) none;
    color: var(--primaryAccentColor);
  }
}

button {
  padding: 16px;
  text: center uppercase var(--fontSize);
  color: #fff var(--darkPrimaryColor);
  cursor: pointer;
  width: 100%;
  border: none;

  &:hover{
    color: #fff  var(--primaryColor);
  }
}
/*///////////////////////////////////////////////////*/
